USE [master]
GO
/****** Объект:  Database [TruckStop]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
CREATE DATABASE [TruckStop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TruckStop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TruckStop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TruckStop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TruckStop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TruckStop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TruckStop]
GO
/****** Объект:  Table [dbo].[Album]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CoverPath] [nvarchar](500) NULL,
	[ArtistId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Artist]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[PhotoPath] [nvarchar](500) NULL,
	[Bio] [nvarchar](500) NULL,
	[Subscribers] [int] NOT NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[FavoriteAlbums]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteAlbums](
	[AlbumId] [int] NOT NULL,
	[user_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[FavoriteArtists]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteArtists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArtistId] [int] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[FavoriteSongs]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteSongs](
	[SongId] [int] NOT NULL,
	[user_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Genre]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Song]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Duration] [time](7) NULL,
	[FilePath] [nvarchar](500) NULL,
	[ArtistId] [int] NOT NULL,
	[AlbumId] [int] NOT NULL,
	[GenreId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Album] ON 

INSERT [dbo].[Album] ([Id], [Title], [CoverPath], [ArtistId]) VALUES (1, N'St. Louis to Liverpool', N'Covers\st louis to liverpool.jpg', 1)
INSERT [dbo].[Album] ([Id], [Title], [CoverPath], [ArtistId]) VALUES (2, N'Tribal Thunder', N'Covers\TribalThunder.jpg', 2)
INSERT [dbo].[Album] ([Id], [Title], [CoverPath], [ArtistId]) VALUES (9, N'Mashine Head', N'Covers\MashineHead.jpg', 4)
GO
SET IDENTITY_INSERT [dbo].[Album] OFF
GO
SET IDENTITY_INSERT [dbo].[Artist] ON 

INSERT [dbo].[Artist] ([Id], [Name], [PhotoPath], [Bio], [Subscribers], [UserId]) VALUES (1, N'Chuck Berry', N'Artists\ChuckBerry.jpg', NULL, 1300450, NULL)
INSERT [dbo].[Artist] ([Id], [Name], [PhotoPath], [Bio], [Subscribers], [UserId]) VALUES (2, N'Dick Dale', N'Artists\Dick Dale.jpg', N'Dick Dale wasn''t nicknamed "King of the Surf Guitar" for nothing: he pretty much invented the style single-handedly, and no matter who copied or expanded upon his blueprint, he remained the fieriest, most technically gifted musician the genre ever produced. ', 3034044, NULL)
INSERT [dbo].[Artist] ([Id], [Name], [PhotoPath], [Bio], [Subscribers], [UserId]) VALUES (4, N'Deep Purple', N'Artists\DeepPurple.jpg', NULL, 344234, NULL)
SET IDENTITY_INSERT [dbo].[Artist] OFF
GO
INSERT [dbo].[FavoriteAlbums] ([AlbumId], [user_id]) VALUES (1, 1)
INSERT [dbo].[FavoriteAlbums] ([AlbumId], [user_id]) VALUES (1101, 1)
INSERT [dbo].[FavoriteAlbums] ([AlbumId], [user_id]) VALUES (1003, 2)
GO
SET IDENTITY_INSERT [dbo].[FavoriteArtists] ON 

INSERT [dbo].[FavoriteArtists] ([Id], [ArtistId], [user_id]) VALUES (11, 2, 1)
INSERT [dbo].[FavoriteArtists] ([Id], [ArtistId], [user_id]) VALUES (12, 1, 1)
INSERT [dbo].[FavoriteArtists] ([Id], [ArtistId], [user_id]) VALUES (14, 1, 2)
SET IDENTITY_INSERT [dbo].[FavoriteArtists] OFF
GO
INSERT [dbo].[FavoriteSongs] ([SongId], [user_id]) VALUES (0, 1)
INSERT [dbo].[FavoriteSongs] ([SongId], [user_id]) VALUES (1, 1)
INSERT [dbo].[FavoriteSongs] ([SongId], [user_id]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([Id], [Name]) VALUES (10, N'Blues')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (4, N'Classical')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (7, N'Country')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Song] ON 

INSERT [dbo].[Song] ([Id], [Title], [Duration], [FilePath], [ArtistId], [AlbumId], [GenreId]) VALUES (1, N'Misirlou', CAST(N'00:02:16' AS Time), N'Songs\Dick_Dale_His_Del-Tones_-_Misirlou_48018731.mp3', 2, 2, 1)
INSERT [dbo].[Song] ([Id], [Title], [Duration], [FilePath], [ArtistId], [AlbumId], [GenreId]) VALUES (4, N'Highway Star', CAST(N'00:06:08' AS Time), N'Songs\Deep_Purple_-_Highway_Star_47954749.mp3', 4, 9, 1)
INSERT [dbo].[Song] ([Id], [Title], [Duration], [FilePath], [ArtistId], [AlbumId], [GenreId]) VALUES (5, N'You Never Can Tell', CAST(N'00:02:42' AS Time), N'Songs\Chuck_Berry_-_You_Never_Can_Tell_47856976.mp3', 1, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Song] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [login], [password], [Role]) VALUES (1, N'admin', N'admin', N'admin')
INSERT [dbo].[Users] ([user_id], [login], [password], [Role]) VALUES (2, N'evtifeev', N'Q4UMQ4XA', N'user')
INSERT [dbo].[Users] ([user_id], [login], [password], [Role]) VALUES (3, N'Tenbko', N'k975321k', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Genre__737584F6939C5249]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
ALTER TABLE [dbo].[Genre] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__7838F272F5A90736]    Дата создания скрипта: 6/4/2026 5:40:51 PM ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artist] ADD  DEFAULT ((0)) FOR [Subscribers]
GO
ALTER TABLE [dbo].[FavoriteAlbums] ADD  DEFAULT ((1)) FOR [user_id]
GO
ALTER TABLE [dbo].[FavoriteArtists] ADD  DEFAULT ((1)) FOR [user_id]
GO
ALTER TABLE [dbo].[FavoriteSongs] ADD  DEFAULT ((1)) FOR [user_id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([Id])
GO
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD  CONSTRAINT [FK_Artist_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Artist] CHECK CONSTRAINT [FK_Artist_User]
GO
ALTER TABLE [dbo].[FavoriteAlbums]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteAlbums_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FavoriteAlbums] CHECK CONSTRAINT [FK_FavoriteAlbums_Users]
GO
ALTER TABLE [dbo].[FavoriteArtists]  WITH CHECK ADD FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([Id])
GO
ALTER TABLE [dbo].[FavoriteArtists]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteArtists_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FavoriteArtists] CHECK CONSTRAINT [FK_FavoriteArtists_Users]
GO
ALTER TABLE [dbo].[FavoriteSongs]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteSongs_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FavoriteSongs] CHECK CONSTRAINT [FK_FavoriteSongs_Users]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Album] ([Id])
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([Id])
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_Song_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_Song_Genre]
GO
USE [master]
GO
